body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

button {
  font-size: medium;
  width: 150px;
  height: 50px;
  margin: 20px;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
}

button:hover {
  background: #F6F9FE;
  color: #174ea6;
}
button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}


#container {
  display: grid;
  width: 200vw;
  height: 200vw;
  max-width: 600px;
  max-height: 600px;
}

.grid-square {
  border: 1px solid #ccc;
  background-color: white;
  
} 

